.header {
  background-color: rgb(126, 121, 214);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h3 {
  margin: 0;
}

.nav {
  display: flex;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #101010;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ff0000;
}
